.centerblock__filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 51px;
}

.filter__title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 15px;
}

.filter__button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ffffff;
    border-radius: 60px;
    padding: 6px 20px;
    position: relative;
}

.filter__button:not(:last-child) {
    margin-right: 10px;
}

._btnText:hover {
    border-color: #d9b6ff;
    color: #d9b6ff;
    cursor: pointer;
}

._btnText:active {
    border-color: #ad61ff;
    color: #ad61ff;
    cursor: pointer;
}

.filter__window {
    max-width: 248px;
    max-height: 305px;
    min-height: auto;
    top: 104%;
    left: -30%;
    padding: 34px;
    gap: 10px;
    border-radius: 12px;
    background-color: #313131;
    position: absolute;
    z-index: 100;
}

.filter__window__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 180px;
    max-height: 237px;
    gap: 24px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.filter__text {
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0;
}

.filter__text:hover {
    color: #B672FF;
    text-decoration: underline;
}

.filter__text:active {
    border-color: #ad61ff;
    color: #ad61ff;
    cursor: pointer;
    text-decoration: underline;
}